:root {
  --background: #1e252b;
  --button: #ff6e30;
  --text: #ffffffe5;
  --headersmaltext: #ffffff8c;
}
body {
  background-color: var(--background);
}
.container {
  width: 1420px;
  margin: 0 auto;
  padding: 0 15px;
  border: 2px solid yellow;
}
h1,h2,h3,h4,button,li,a,p,img {
  margin: 0;

}
ul,li,a {
  list-style-type: none;
  text-decoration: none;
}
/*----------header-----*/
.header-nav {
  display: flex;
}
.header-wrap {
  display: flex;
  padding-top: 34px;
  padding-bottom: 34px;
  justify-content: space-between;
  align-items: center;
}
.header-list {
  display: flex;
  margin: 0 auto;
  padding: 0 auto;
}

.header-item:nth-child(2)::after {
  content: url(./img/chevron-down.png);
}
.header-list-nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.logo {
  color: var(--text);
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5px;
  margin-left: 40px;
}
.logo-img {
  margin-right: 8px;
}

.header-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.header-item:last-child {
  margin-right: 200px;
}
.header-link {
  align-items: center;
  color: var(--headersmaltext);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5px;
  margin-right: 30px;
}

.header-nav-item {
  align-items: center;
}
.header-button {
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #ff6e30;
  color: var(--text);
  display: inline-block;
  padding: 12px 30px;
  border-radius: 8px;
  border: solid 1px black;
  margin-right: auto;
}
.header-button:hover {
  background-color: var(--background);
  color: #fff;
  border-color: #ffffff1a;
}
/*---------main--------*/
/*-----first-section*/
.tools-section {
  color: #fff;
}
.tools-section-wrap {
}
.tools-section-wrap::after {
  content: url(./img/medsos.png);
}

.tools-title {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  margin-bottom: 30px;
  padding-top: 116px;
  text-align: left;
}
.tools-text {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-bottom: 60px;
  color: var(--headersmaltext);
}

.input-wrap {
  padding-bottom: 110px;
  margin-left: 0 auto;
}
.tools-input {
  width: 497.66px;
  height: 64px;
  outline: none;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5px;
  text-align: left;
  border: 1.5px solid;
  border-radius: 15px;
  background-color: #ffffff1a;
  transform: translateX(-1.5%);
  margin-bottom: 100px;
}
.tools-input:hover {
  background: linear-gradient(
    90.89deg,
    rgba(255, 255, 255, 0.1) -1.67%,
    rgba(255, 255, 255, 0) 103.73%);
}
.tools-button {
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #ff6e30;
  color: var(--text);
  display: inline-block;
  padding: 12px 35px;
  border-radius: 8px;
  border: solid 1px black;
  margin-right: auto;
  transform: translateX(-120%);
  margin-right: 15px;
}
.tools-button:hover {
  background-color: var(--background);
  color: #fff;
  border-color: #ffffff1a;
}
/*second-section*/
.popular {
  display: flex;
}
.popular-list {
  display: flex;
  border: transparent;
  border-radius: 15px;
  margin-bottom: 100px;
}
.popular-items {
  margin-right: 60px;
}

.popular-title {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  text-align: center;
  color: var(--text);
  margin: 0 auto;
}
.popular-undertitle {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: var(--headersmaltext);
  margin-bottom: 90px;
}

.popular-app {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: var(--text);
  margin-bottom: 3px;
}
.popular-status {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #ffa5378c;
  margin-bottom: 30px;
}

.popular-text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: var(--headersmaltext);
  margin-bottom: 30px;
}
.popular-button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--background);
  color: var(--headersmaltext);
  padding-right: 12px 35px;
  border-radius: 8px;
  border: 1px;
}
.popular-button:hover {
  background-color: #ff6e30;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--text);
  padding: 12px 35px;
  border-radius: 8px;
  border: 1px;
}

.image-heart {
  margin-right: 12px;
}
.image-folder {
  margin-right: 130px;
}
.popular-sec-list {
  display: flex;
  border: transparent;
  border-radius: 15px;
  margin-bottom: 100px;
}
.popular-lst-btn {
  border-color: #ffffff1a;
  border-radius: 8px;
  background-color: #1e252b;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 38px;
  padding-left: 38px;
  font-family: "Poppins",sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #ff6e30;
  transform: translateX(300%);
  margin-bottom: 200px;
  margin-top: 100px;
}
.popular-lst-btn:hover {
  background-color: #ff6e30;
  color: var(--text);
}
.popular-wrap-list {
  margin-left: 108px;
}
/*---popular-images*/
.popular-figma {
  margin-right: 40px;
  width: 64px;
  height: 64px;
}
.popular-diamant {
  margin-right: 30px;
  width: 64px;
  height: 56.95px;
}
.popular-visualka {
  margin-right: 30px;
  width: 65px;
  height: 62.84px;
}
.popular-notion {
  margin-right: 30px;
  width: 64px;
  height: 64px;
}
.popular-slack {
  margin-right: 30px;
  width: 64.85px;
  height: 63.62px;
}
.popular-invision {
  margin-right: 30px;
  width: 65px;
  height: 63.82px;
}
/*------end------*/

.popular-image-wrap {
  display: flex;
}
.popular-items:hover {
  border-radius: 20px;
  background: linear-gradient(
    55deg,
    rgba(40, 48, 54, 0.4) 0%,
    rgba(0, 0, 0, 0) 60%,
    rgba(40, 48, 54, 23) 100%
  );
}

/*second section*/
.brand {
}
.brand-wrap {
  background-color: #2c353d33;
  border: 2px solid #ffffff54;
  border-radius: 25px;
  border: 2px solid;
}
.brand-wrap:hover {
  background: linear-gradient(
    92.39deg,
    rgba(255, 255, 255, 0.05) -4.6%,
    rgba(255, 255, 255, 0) 96.79%
  );
}

.brand-title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  color: var(--text);
  margin-bottom: 55px;
  padding-top: 55px;
}

.brand-logo-img {
  margin-right: 50px;
  margin-left: 82px;
  justify-content: space-between;
  padding-bottom: 56px;
}

/*----------third section--------*/

.apps-wrap {
  display: flex;
}

.apps-m-title {
  margin-top: 150px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 62.4px;
  text-align: left;
  color: var(--text);
}
.apps-m-undertitle {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: var(--headersmaltext);
  margin-bottom: 60px;
}
.apps-mb{
  color: var(--text);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #ff6e30;
  border: none;
  border-radius: 8px;
}
.apps-mb:hover{
   background-color: #ff6e30;
  color: var(--text);
}

.apps-list {
  display: flex;
  justify-content: flex-end;
  transform: translateY(-100%);
}

.apps-item {
  margin-bottom: 70px;
  margin-right: 45px;
}
.apps-item:hover {
  border: solid 2px var(--background);
  border-radius: 15px;
  background: linear-gradient(
    55deg,
    rgba(40, 48, 54, 0.4) 0%,
    rgba(255, 125, 11, 0) 60%,
    rgba(40, 48, 54, 23) 100%
  );
}
.apps-title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: var(--text);
  margin-bottom: 3px;
}

.apps-undertitle {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #ffa5378c;
  margin-bottom: 30px;
}
.apps-text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: var(--headersmaltext);
  margin-bottom: 30px;
}

.apps-heart {
  margin-right: 12px;
}
.apps-folder {
  margin-right: 124px;
}
.apps-button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--background);
  color: var(--headersmaltext);
  padding-right: 12px 35px;
  border-radius: 8px;
  border: 1px;
}
.apps-button:hover {
  background-color: #ff6e30;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--text);
  padding: 12px 35px;
  border-radius: 8px;
  border: 1px;
}

.Zepling {
  width: 56px;
  height: 44px;
  margin-right: 30px;
}

.Toolbox {
  width: 64px;
  height: 64px;
  margin-right: 30px;
}

.PHPStorm {
  width: 64px;
  height: 64px;
  margin-right: 30px;
}

.Procreate {
  width: 64px;
  height: 64px;
  margin-right: 30px;
}

/*----------4 seciton------(manager)*/
.manager {
  display: flex;
}
.manager-wrap {
}
.manager-image {
  width: 399px;
  height: 492px;
}

.manager-name-wrap {
  background-color: #28303633;
  width: 265px;
  height: 91px;
  border-radius: 8px;
  border: solid 1px;
  padding-right: 22px;
  padding-left: 23px;
  padding-top: 10px;
  padding-bottom: 16px;
  background: linear-gradient(
    96.67deg,
    rgba(103, 72, 72, 0.1) -5.21%,
    rgba(20, 161, 255, 0.082) 93.75%
  );
}
.manager-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.015em;
  color: var(--text);
  margin-bottom: 2px;
}

.manager-product {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--headersmaltext);
}

.manager-text {
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.5%;
  color: #ffffffc7;
}

/*----------5 section--------(contributor)*/

.contributor {
  display: flex;
}

.contributor-title {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 62.4px;
  text-align: center;
  color: var(--text);
  margin-bottom: 25px;
  margin-top: 200px;
}
.contributor-text {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: var(--headersmaltext);
  margin-bottom: 100px;
}

.contributor-input {
  width: 549px;
  height: 64px;
  outline: none;
  padding-bottom: 22px;
  padding-top: 22px;
  padding-left: 24px;
  padding-right: 50px;
  margin-bottom: 240px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5px;
  text-align: left;
  border: 1.5px solid var(--background);
  border-radius: 15px;
  background-color: #ffffff1a;
  color: #ffffff61;
}
.contributor-input:hover {
  background: linear-gradient(
    90.89deg,
    rgba(255, 255, 255, 0.1) -1.67%,
    rgba(255, 255, 255, 0) 103.73%
  );
}
.contributor-inp-wrap {
  transform: translateX(31%);
}
.contributor-btn {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #ff6e30;
  color: var(--text);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 35px;
  padding-right: 35px;
  border: none;
  border-radius: 8px;
  transform: translateX(-110%);
}
.contributor-btn:hover{
   background-color: var(--background);
  color: #fff;
  border-color: #ffffff1a;
}


/*---------------foooterrrr----------*/
.footer-left{

}

.footer-logo{
font-family: "Poppins",sans-serif;
font-size: 22px;
font-weight: 600;
line-height: 33px;
text-align: left;
color: var(--text);
margin-bottom: 25px;
}
.footer-logo-img{
margin-right: 12px;
background-color: var(--button);
border: none;
border-radius: 8px;
padding-left: 9px;
padding-right: 9px;
padding-bottom: 7px;
padding-top: 7px;

}
.logo-wrap{
  margin-bottom: 25px;
}

.footer-title{
font-family:"Poppins",sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 24px;
margin-bottom: 21px;
color: var(--text);
}
.footer-text{
font-family: "Poppins", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 25px;
color: var(--headersmaltext);
}

.address-list{
}
.address-item{
  justify-content: flex-end;
  display: flex;
  
padding-bottom: 10px;
}
.address-title{
font-family: "Poppins",sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 30px;
color: var(--text);
margin-bottom: 20px;
margin-right: 200px;
}
.address-title:nth-child(2){
  margin-right: 115px;
}
.address-meaning {
font-family: "Poppins",sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 24px;
color: var(--headersmaltext);
margin-bottom: 10px;
}

