.popular {
  display: flex;
}
.popular-list {
  display: flex;
  border: transparent;
  border-radius: 15px;
  margin-bottom: 100px;
}
.popular-items {
  margin-right: 60px;
}

.popular-title {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  text-align: center;
  color: var(--text);
  margin: 0 auto;
}
.popular-undertitle {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: var(--headersmaltext);
  margin-bottom: 90px;
}

.popular-app {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: var(--text);
  margin-bottom: 3px;
}
.popular-status {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #ffa5378c;
  margin-bottom: 30px;
}

.popular-text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: var(--headersmaltext);
  margin-bottom: 30px;
}
.popular-button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--background);
  color: var(--headersmaltext);
  padding-right: 12px 35px;
  border-radius: 8px;
  border: 1px;
}
.popular-button:hover {
  background-color: #ff6e30;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--text);
  padding: 12px 35px;
  border-radius: 8px;
  border: 1px;
}

.image-heart {
  margin-right: 12px;
}
.image-folder {
  margin-right: 130px;
}
.popular-sec-list {
  display: flex;
  border: transparent;
  border-radius: 15px;
  margin-bottom: 100px;
}
.popular-lst-btn {
  border-color: #ffffff1a;
  border-radius: 8px;
  background-color: #1e252b;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 38px;
  padding-left: 38px;
  font-family: "Poppins",sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #ff6e30;
  transform: translateX(300%);
  margin-bottom: 200px;
  margin-top: 100px;
}
.popular-lst-btn:hover {
  background-color: #ff6e30;
  color: var(--text);
}
.popular-wrap-list {
  margin-left: 108px;
}
/*---popular-images*/
.popular-figma {
  margin-right: 40px;
  width: 64px;
  height: 64px;
}
.popular-diamant {
  margin-right: 30px;
  width: 64px;
  height: 56.95px;
}
.popular-visualka {
  margin-right: 30px;
  width: 65px;
  height: 62.84px;
}
.popular-notion {
  margin-right: 30px;
  width: 64px;
  height: 64px;
}
.popular-slack {
  margin-right: 30px;
  width: 64.85px;
  height: 63.62px;
}
.popular-invision {
  margin-right: 30px;
  width: 65px;
  height: 63.82px;
}
/*------end------*/

.popular-image-wrap {
  display: flex;
}
.popular-items:hover {
  border-radius: 20px;
  background: linear-gradient(
    55deg,
    rgba(40, 48, 54, 0.4) 0%,
    rgba(0, 0, 0, 0) 60%,
    rgba(40, 48, 54, 23) 100%
  );
}
.image-heart:active{
  background-image: url(./img/redheart.png);
  background-repeat: no-repeat;

}