.span-tools{
  color: var(--button);
}
.tools-section {
  color: #fff;
}
.image-wrap{
  position: absolute;
}
.tools-image{
  position: relative;
  top: 60px;
  left: 812px;
}
.tools-section-wrap {
  margin-bottom: 100px;
}
.tools-section-wrap::after {
  content: url(./img/medsos.png);
}

.tools-title {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  margin-bottom: 30px;
  padding-top: 116px;
  text-align: left;
}
.tools-text {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-bottom: 60px;
  color: var(--headersmaltext);
}

.input-wrap {
  padding-bottom: 110px;
  margin-left: 0 auto;
}
.tools-input {
  width: 497.66px;
  height: 64px;
  outline: none;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5px;
  text-align: left;
  border: 1.5px solid;
  border-radius: 15px;
  background-color: #ffffff1a;
  transform: translateX(-1.5%);
  margin-bottom: 100px;
}
.tools-input:hover {
  background: linear-gradient(
    90.89deg,
    rgba(255, 255, 255, 0.1) -1.67%,
    rgba(255, 255, 255, 0) 103.73%);
}
.tools-button {
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #ff6e30;
  color: var(--text);
  display: inline-block;
  padding: 12px 35px;
  border-radius: 8px;
  border: solid 1px black;
  margin-right: auto;
  transform: translateX(-120%);
  margin-right: 15px;
}
.tools-button:hover {
  background-color: var(--background);
  color: #fff;
  border-color: #ffffff1a;
}